<ul id="slide-out" class="sidenav">
    <a class="sidenav-close right" id="closeBtn"><i class="material-icons">clear</i></a>
<div class="container">
  <div class="row">
      <div class="center-align logoBackground">
       <img src="../../../assets/m.png ">
       <div class="icons">
          <a [href]="i.link" target="_blank" *ngFor="let i of icons"><i [style.font-size]="i.font"  [style.margin]="i.margin" [class]="i.icon"></i></a>
       </div>
      </div>
  </div>
  <div class="row" 
  style="position:  relative;
  top: 300px;
  background-color: white;">
      <div class="col s12">
            <ul class="center">
                    <li class="sidenav-close  " *ngFor="let nav of navigation">
                    <a routerLink={{nav.link}}>{{nav.title}}</a></li>
           </ul>
      </div>
  </div>
</div>
</ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large">
    <div id="sidebar-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>