<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">{{title}}</h5>
          <p class="grey-text text-lighten-4">
              {{description}}
             </p>
          </div>
        <div class="col l6  s12">

          <div class="icons-skill">
            <a class="grey-text text-lighten-3" *ngFor="let i of icons"><i [style.margin]="i.margin" [class]="i.icon"></i></a>
      
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 VranceanuM
      <a class="grey-text text-lighten-4 right" href="#!">
        
                <div class="icons">
                    <i *ngFor="let ico of social"[class]="ico.icon" [style.font-size]="ico.font"  [style.margin]="ico.margin"></i>
                </div>
      </a>
      </div>
    </div>
  </footer>
      