<div class="parallax-container">
    <app-sidenav></app-sidenav>
    <div class="parallax">
      <img src="../../../assets/office.jpeg" class="responsive-img">
    </div>
   
</div>
<nav id="navbar">
<div class="nav-wrapper">
    <a href="#" class="brand-logo center">
      <img class="responsive-img" src="../../../assets/m.png">
    </a>
    <ul class="right hide-on-med-and-down">
        <li *ngFor="let nav of navigation"><a routerLink={{nav.link}}>{{nav.title}}</a></li>
    </ul>
  </div>
</nav>