@import "../../style/_variables.scss";
.container{
	margin-top:80px;
	margin-bottom: 80px;
}
.icons{
	font-size: 1.9rem;
}

.sec-pic{
	margin-top: 40px;
	
}
.proggress1{
	background-color: $green;
    height: 15px;
    border-radius: 15px;
	width: 25%;
	
}
.progressbar{
	width: 100%;
    background-color: rgb(168, 177, 184);
    border-radius: 15px;
}
.percentCount {
    float: right;
    margin-top: 10px;
    clear: both;
    font-weight: bold;
    position: absolute;
    right: 2px;
	margin-top: -53px;
}
.progress1 h4 {
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 0px;
    letter-spacing: 1px;
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.progress1{
	margin-bottom: 50px;
}
.iconJs{
    .fab{
        font-size: 7rem;
        color: #42b883;
        margin: 10px;
    }
  

}
.carousel.center{
    position: relative;
    bottom: 50px;
}