
<section id="about">
<div class="container">
    <div class="row">
        <h2 class="center-align">
            About Me
        </h2>
        <h5 class="center-align">More about what I can do and my projects</h5>
        <hr>
    </div>
    <div class="row">
            <div class="col lg4 s6" *ngFor="let card of cards">
        
                              <div class="card-panel teal">
                                    <div class="card-content white-text center-align">
                                           <div class="center-align icons"><i [class]="card.icon"></i></div>
                                            <span class="card-title">{{card.title}}</span>
                                            <p>{{card.body}}</p>
                                        </div>
                              </div>
            </div>  
     </div>   
    </div>
</section>
<section id="profile">
    <div class="container">
  
         
            
        </div>
        <div class="row">
            <div class="col l4 m6 s12 ">
                    <a href="#" class="tilter tilter--1">
                            <figure class="tilter__figure">
                                <img class="tilter__image" src="../../../assets/dumi.jpg" alt="img02" />
                                <div class="tilter__deco tilter__deco--shine"><div></div></div>
                                <figcaption class="tilter__caption">
                                    <h3 class="tilter__title">Vranceanu Madalin</h3>
                                    <p class="tilter__description">Kiev</p>
                                </figcaption>
                                <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
                                    <path d="M20.5,20.5h260v375h-260V20.5z" />
                                </svg>
                            </figure>
                        </a>
                    </div>
                        <div class="col l4 m6 s12 sec-pic">
                                <a href="#" class="tilter tilter--1">
                                        <figure class="tilter__figure">
                                            <img class="tilter__image" src="../../../assets/mountain.jpeg" alt="img02" />
                                            <div class="tilter__deco tilter__deco--shine"><div></div></div>
                                            <figcaption class="tilter__caption">
                                                <h3 class="tilter__title">Chase</h3>
                                                <p class="tilter__description">Your dreams</p>
                                            </figcaption>
                                            <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
                                                <path d="M20.5,20.5h260v375h-260V20.5z" />
                                            </svg>
                                        </figure>
                                    </a>
                            </div>
                    

            <div class="col l4 s6 hide-on-med-and-down">
                    <div class="progress1 ">
                            <h4 style="margin-bottom: 0">Web Designing</h4>
                            <div id="demoprogressbar13">
                                <div class="progressbar" style="width: 100%; background-color: rgb(168, 177, 184); border-radius: 15px;"><div class="proggress" style="background-color:#11998e; height: 15px; border-radius: 15px; width: 25%;"></div><div class="percentCount">25%</div></div></div>
                            <h4 style="margin-bottom: 0">Web Development</h4>
                            <div id="demoprogressbar14">
                                <div class="progressbar" style="width: 100%; background-color: rgb(168, 177, 184); border-radius: 15px;"><div class="proggress" style="background-color: #11998e; height: 15px; border-radius: 15px; width: 85%;"></div><div class="percentCount">85%</div></div></div>
                            <h4 style="margin-bottom: 0">JAVASCRIPT</h4>
                            <div id="demoprogressbar15">
                                <div class="progressbar" style="width: 100%; background-color: rgb(168, 177, 184); border-radius: 15px;"><div class="proggress" style="background-color: rgb(0, 147, 209); height: 15px; border-radius: 15px; width: 72%;"></div><div class="percentCount">72%</div></div></div>
                            <h4 style="margin-bottom: 0">WORDPRESS</h4>
                            <div id="demoprogressbar16">
                                <div class="progressbar" style="width: 100%; background-color: rgb(168, 177, 184); border-radius: 15px;"><div class="proggress" style="background-color: rgb(0, 147, 209); height: 15px; border-radius: 15px; width: 35%;"></div><div class="percentCount">35%</div></div></div>
                        </div>
            </div>
        </div>
   
</section>
    

