
<section id="about">
<div class="container">
    <div class="row">
        <h2 class="center-align">
            About Me
        </h2>
        <h5 class="center-align">More about what I can do and my projects</h5>
        <hr>
    </div>
    <div class="row">
            <div class="col lg4 s6" *ngFor="let card of cards">
        
                              <div class="card-panel teal">
                                    <div class="card-content white-text center-align">
                                           <div class="center-align icons"><i [class]="card.icon"></i></div>
                                            <span class="card-title">{{card.title}}</span>
                                            <p>{{card.body}}</p>
                                        </div>
                              </div>
            </div>  
     </div>   
    </div>
</section>
<section id="profile">
    <div class="container">
  
         
            
        </div>
        <div class="row">

                    
            <div class="col l6  offset-l3 s12">
                    <div class="progress1 ">
                            <h4 style="margin-bottom: 0">Web Designing</h4>
                            <div id="demoprogressbar13">
                                <div class="progressbar" style="width: 100%; background-color: rgb(168, 177, 184); border-radius: 15px;"><div class="proggress" style="background-color:#11998e; height: 15px; border-radius: 15px; width: 25%;"></div></div></div>
                            <h4 style="margin-bottom: 0">Web Development</h4>
                            <div id="demoprogressbar14">
                                <div class="progressbar" style="width: 100%; background-color: rgb(168, 177, 184); border-radius: 15px;"><div class="proggress" style="background-color: #11998e; height: 15px; border-radius: 15px; width: 85%;"></div></div></div>
                            <h4 style="margin-bottom: 0">JAVASCRIPT</h4>
                            <div id="demoprogressbar15">
                                <div class="progressbar" style="width: 100%; background-color: rgb(168, 177, 184); border-radius: 15px;"><div class="proggress" style="background-color: rgb(0, 147, 209); height: 15px; border-radius: 15px; width: 72%;"></div></div></div>
                            <h4 style="margin-bottom: 0">WORDPRESS</h4>
                            <div id="demoprogressbar16">
                                <div class="progressbar" style="width: 100%; background-color: rgb(168, 177, 184); border-radius: 15px;"><div class="proggress" style="background-color: rgb(0, 147, 209); height: 15px; border-radius: 15px; width: 35%;"></div></div></div>
                        </div>
            </div>
        </div>
   
</section>
<section class="section" id="projectsJS">
       
  <div class="iconJs center ">
      <h5>Created with</h5>
      <i class="fab fa-js "></i>
      <i class="fab fa-angular"></i>
      <i class="fab fa-vuejs"></i>
    </div>
    <div class="carousel center">
            <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a>
            <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
            <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
            <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
            <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
          </div>
</section>
    

